/* Body e background */
body {
    background:  #1b4220;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Titolo */
h1 {
    font-size: 3em;
    text-shadow: 2px 2px 5px #000000;
    margin-top: 20px;
}

/* Link menu */
a {
    text-decoration: none;
    font-weight: bold;
    color: #0a568e;
    margin: 0 10px;
}

a:hover {
    color: #b93118;
}

/* Weird box */
.weird-box {
    margin: 30px auto;
    padding: 30px;
    background: #212323;
    color: #b93118;
    font-size: 1.5em;
    border-radius: 25px;
    display: inline-block;
}

/* Container immagine */
.image-container {
    margin-top: 40px;
}

/* Immagine */
.main-image {
    width: 300px;
    display: block;
    margin: 0 auto; /* centra */
    box-shadow: 5px 5px 20px rgba(0,0,0,0.7);
    border-radius: 15px;
}
