/* Body e background */
body {
    background:  #ffffff;
    font-family: 'Gotham';
    color: #000000;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Titolo */
h1 {
    font-size: 3em;
    margin-top: 20px;
}

/* Link menu */
a {
    text-decoration: none;
    font-weight: bold;
    color: #000000;
    margin: 0 10px;
}

a:hover {
    color: #000000;
}

/* Weird box */
.weird-box {
    margin: 30px auto;
    padding: 30px;
    background: #ffffff;
    color: #000000;
    font-size: 1.5em;
    border-radius: 25px;
    display: inline-block;
}

/* Container immagine */
.image-container {
    margin-top: 40px;
}

/* Immagine */
.main-image {
    width: 300px;
    display: block;
    margin: 0 auto; /* centra */
    border-radius: 15px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    gap: 10px;
    padding: 20px;
}

.gallery img {
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
}
